.container_1-2-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0px 65px;
}

/* page on */
.onit_num_line{
    display: flex;
    color: #0059CD;
}
.onit_num_line div span{
    padding: 8px;
    border: 1px solid #0059CD;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.onit_p{
    color: #0059CD;
}
#p2{
    text-align: center;
}
.onit_right_line{
    width: 100%;
    height: 1px;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
    background-color: black;
}
.onit_left_line{
    width: 100%;
    height: 1px;
    border: 1px solid #0059CD;
    justify-self: center;
    align-self: center;
    background-color: #0059CD;
}
/*  */

/* next */
.next_num_line{
    display: flex;
    color: black;
}
.next_num_line div span{
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.next_p{
    color: black;
}
.next_left_line{
    height: 1px;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
    background-color: black;
}
#left_line2{
    width: 48%;
}
.next_righ_line{
    height: 1px;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
    background-color: black;
}
#right_line2{
    width: 48%;
}
#next_left_line3{
    width: 100%;
}
#p3{
    text-align: end;
}
.margin{
    margin-bottom: 5px;
}

/* pervious */
.prev_num_line{
    display: flex;
    color: #0059CD;
}
.prev_num_line div span{
    padding: 8px;
    border: 1px solid #0059CD;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    background-color: #0059CD;
    color: white;
}
.prev_p{
    color: #0059CD;
}
.prev_right_line{
    width: 100%;
    height: 1px;
    border: 1px solid #0059CD;
    justify-self: center;
    align-self: center;
    background-color: #0059CD;
}
.prev_left_line{
    width: 100%;
    height: 1px;
    border: 1px solid #0059CD;
    justify-self: center;
    align-self: center;
    background-color: #0059CD;
}

/* add post form section*/
.add_post_section{
    height: 100%;
}
.add_post_form{
    border: 1px solid #787878;
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
}
.add_post_form h2{
    margin-bottom: 40px;
}
.add_post_form form{
    margin: 30px 0px 0px 0px;
}
.add_post_form form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 30%;
}
.add_post_form form div label{
    margin-bottom: 8px;
}
.add_post_form form div select{
    border-radius: 7px;
    padding: 4px;
}
.add_post_form form .button{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
}
.add_post_form form button{
    width: 50%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #0059CD;
    color: white;
    grid-column: 2/3;
    justify-self: end;
}